<?xml version="1.0"?>
<!--
/**
 * Envios Kanguro Shipping
 *
 * @author Javier Telio Z <jtelio118@gmail.com>
 * @license http://www.opensource.org/licenses/mit-license.html MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer instance="Envioskanguro\Shipping\Observer\SaveSalesOrder" name="SalesOrderSaveAfterObserver"/>
    </event>
</config>